<div class="page-header">
  <h1>
    Favourites
    <a href="/favourites/new" class="btn btn-lg btn-success">New Favourite</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Movie</th>
        <th>User</th>
        <th>Actions</th>
      </tr>

      <% @favourites.each do |favourite| %>
      <tr>
        <td><%= favourite.movie.title %></td>
        <td><%= favourite.user.email %></td>
        <td>
          <a href="/favourites/<%= favourite.id %>" class="btn btn-primary">Show</a>
          
          <% if current_user == favourite.user %>
            <a href="/favourites/<%= favourite.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_favourite/<%= favourite.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
